* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #666;
	text-align: left;
	background: #f7f7f7 url(../images/background.gif) repeat-x;
}

/* Styles */

a { color: #0088cc; text-decoration: none;}
a:hover { text-decoration: underline;}
a img { border: none;}

p { margin: 0px 0px 20px 0px; line-height: 18px;}

ul { margin: 5px 0px 15px 0px; padding: 0px;}

li { margin-left: 20px;}

.notice {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #fffbcc;
	border: 1px solid #e6db55;
	line-height: 25px;
	color: #222;
}

.succeed {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #d1ecb8;
	border: 1px solid #81c445;
	line-height: 25px;
	color: #222;
}

.error-display {
	clear: both;
	margin: 0 0 15px;
	padding: 0 10px;
	background: #ffebe8;
	border: 1px solid #f0baa2;
	line-height: 25px;
	color: #222;
}

.clear { clear:both;}

/* Header */

#header {
	height: 45px;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1280px;
	min-width: 760px;
}

#header h1 {
	float: left;
	font: bold 20px/21px Helvetica, Arial, sans-serif;
	line-height: 45px;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
}

#header .menu {
	float: right;
	line-height: 45px;
}

#header .menu a {
	color: #fff;
}

/* Wrapper */

#wrapper {
	margin: 0 auto;
	padding: 25px 20px;
	max-width: 1280px;
	min-width: 760px;
}

#wrapper h2 {
	margin: 0 0 10px;
	font: bold 20px/21px Helvetica, Arial, sans-serif;
	color: #333;
}

.box {
	margin: 0 0 20px;
	padding: 15px 15px 0 15px;
	border: 1px solid #e8e8e8;
	background: #fff;
	position: relative;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	position: relative;
}

/* Navigation */

.navigation {
	margin: 0 0 20px;
	background: #fff;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.navigation div{
	margin: 5px 0 10px 0;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	margin: 0;
	padding: 2px 15px;
	border-top: 1px solid #e8e8e8;
	background: url(../images/navigation-off.gif) repeat-x;
	line-height: 24px;
	height: 100%;
	display: block;
	font-size: 12px;
}

.navigation ul li a {
	color: #666;
	height: 100%;
	width: 100%;
	display: block;
}

.navigation ul li.active {
	background: url(../images/navigation-on.gif) repeat-x;
}

.navigation ul li.active a {
	color: #fff;
}

.navigation ul li ul {
	margin: 5px 0;
}

.navigation ul li ul li {
	margin: 0;
	padding: 0;
	font-size: 11px;
	border: none;
	background: none;
}

.navigation ul li ul li a {
	color: #0088cc;
}

.highlight-nav-link {
	color: #F8F508;
}

.navigation ul li img {
	vertical-align: middle;
}

/* Search */

#search-form {
	height: 33px;
}

.search-input {
	border: 1px solid #d2d2d2;
	width: 133px;
	height: 12px;
	padding: 3px 5px;
	position: absolute;
	font-size: 11px;
}

.search-submit {
	left: 160px;
	position: absolute;
}

/* Blog */

#blog li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#blog li h4 {
	margin: 0 0 5px;
	font-size: 12px;
	font-weight: normal;
}

#blog li h4 abbr {
	font-size: 10px;
	color: #999;
	border: none;
}

/* Content */

#content {
	padding-left: 240px;
}

#content h3 {
	margin: 0 0 15px;
	padding: 0 0 10px;
	color: #222;
	font-size: 16px;
	border-bottom: 1px dotted #d2d2d2;
}

#content h4 {
	margin: 0 0 15px;
	color: #222;
	font-size: 14px;
}

/* Pagination */

.pagination {
	text-align: center;
	display: block;
	margin: 0 0 15px;
	font-weight: bold;
	position: relative;
}

.pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination ul li {
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	color: #222;
}

.pagination ul li a {
}

/* Footer */

#footer {
	background: #fff;
	border: 1px solid #e8e8e8;
	padding: 15px;
	height: 12px;
	clear: both;
}

#footer .left { float: left;}
#footer .right { float: right;}

/* ADDED STYLES BELOW */

a {cursor: pointer; cursor: hand;}

/* Buttons */

.button_one{
	padding:0 .25em 0 .25em;
	width: auto;
	overflow: visible;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #e7e8e8;
	border: none;
	height: 20px;	
}

/* Checkbox */

.pl_item_cb_class {
	/*padding-left:0;
	margin-left:0;*/
	width: 15px;
	height: 15px;
} 

/* Playlist Page */

.top_nav{
	position: relative;
    width: 60%;
	height: 30px;
	background-color: #d1d3d4;
}

.bottom_nav_holder{
	position: relative;
	margin-top: 5px;	
}

.title_holder{
	position: relative;
	margin-top: 4px;
	height: 25px;
}

.list-overflow{
	position: relative;
	overflow: scroll; 
	height:350px;
    margin-top: 3px;
}

/* playlist section */

#playlist_section{
	position: relative;
	width: 100%;
	height: 100%;
}

#playlist_section .top_nav .name{
	position: absolute;
	top: 8px;
	left: 10px;
	font-weight: bold;
}

#playlist_section .list{
	width: 60%;
}

#playlist_section .back_to_playlist_holder{
	position: absolute;
	top: 5px;
	right: 5px;
}

	/* playlist section - bottom_nav */

#playlist_section .bottom_nav{
	position: absolute;
	top: 0;
    width: 60%;
	height: 30px;
	background-color: #d1d3d4;
}

#playlist_section .bottom_nav .bottom_nav_holder .remove_item_holder{
	position: absolute;
	top: 0;
	left: 5px;
}

#playlist_section .bottom_nav .bottom_nav_holder .clear_playlist_holder {
	position: absolute;
	top: 0;
	left: 108px;
}

#playlist_section .bottom_nav .bottom_nav_holder .check_all_holder {
    position: absolute;
    top: 0;
    right: 90px;
}

#playlist_section .bottom_nav .bottom_nav_holder .check_none_holder {
    position: absolute;
    top: 0;
    right: 5px;
}

#playlist_section .bottom_nav .bottom_nav_holder .save_playlist_holder {
	position: absolute;
	top: 0;
	right: 5px;
}

#playlist_section .bottom_nav .bottom_nav_holder .add_item_holder {
    position: absolute;
    top: 0;
    left: 235px;
}

#playlist_section .bottom_nav .bottom_nav_holder .add_rss_holder {
    position: absolute;
    top: 0;
    left: 300px;
}


	/*  playlist column title / spacing */

.pl_item_holder{
	position: relative;
    width: 100%;
	height: 25px;
	border: 1px solid #d1d3d4;
}

.pl_item_holder_files{
	position: relative;
	height: 25px;
	border: 1px solid #d1d3d4;
}

.pl_item_cb_holder{
	position: absolute;
	top: 5px;
	left: 5px;
}

.pl_item_name_holder{
	position: absolute;
	top: 5px;
	left: 45px;
}

.pl_item_filename_holder{
	position: absolute;
	top: 5px;
	left: 195px;
}

.pl_item_remove_holder{
	position: absolute;
	top: 5px;
	left: 25px;
}

.pl_item_text_holder {
    position: absolute;
    top: 5px;
    left: 350px;
}

.pl_item_text_img_align_holder { /*Text Component*/
    position: absolute;
    top: 3px;
    left: 650px;
    width: 200px;
}

.pl_item_text_content_holder{ /*Text Component*/
	position: absolute;
	top: 0;
	left: 340px;
    visibility: hidden;
}

.text-add-image-holder {
    position: absolute;
    top: 4px;
    left: 350px;
}

.pl_item_text_content{
	width: 235px;
	height: 80px;
}

.pl_item_fullscreen_holder, .pl_item_exposure_holder { /*Video Fullscreen Checkbox / Image Exposure */ 
    position: absolute;
    top: 5px;
    left: 360px;
}

.pl_item_exposure_holder { /*Video Fullscreen Checkbox / Image Exposure*/ 
    position: absolute;
    top: 5px;
    left: 360px;
}

.pl_item_fullscreen_holder div{ /*Video Fullscreen Checkbox*/
    position: absolute;
    top: 0px;
    left: 20px;
}


.pl_item_delay_holder {
    position: absolute;
    top: 3px;
    left: 445px;
}

.class_item_delay { /*image delay*/
    width: 20px;
}

/*
.pl_item_preview_holder {
    position: absolute;
    top: 3px;
    left: 510px;
}

.pl_item_preview_holder div{ 
    position: absolute;
    top: 0px;
    left: 20px;
}
*/

/* playlist - list- sortable */

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 99%; 
}

#sortable li { 
	margin: 0 3px 3px 0px; 
	/*border: 1px solid #CCCCCC; */
	font-weight: bold;    
}

.sortable_li_text {
    width:970px;
}

.sortable_li_not_text {
    width:570px;
}

/* File browser */
	
#file_browser_section {
	position: absolute;
	top:0;
	right: 0;
    /*width: 350px;*/
	width: 38%;
	height: 100%;
	/*border-left: 1px solid #707070;*/
}

#file_browser_section .top_nav{
    width: 100%;
}

#file_browser_section .top_nav .name{
	position: absolute;
	top: 8px;
	left: 125px;
	font-weight: bold;
}

#file_browser_section .list{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;
}

#file_browser_bottom_nav{
	position: absolute;
	top: 0;
	right: 0;
	width: 38%;
	height: 30px;
	background-color: #d1d3d4;
}

#file_browser_bottom_nav .bottom_nav_holder .add_item_holder{
	position: absolute;
	top: 0;
	left: 5px;
}

#file_browser_bottom_nav .bottom_nav_holder .check_all_holder{
    position: absolute;
    top: 0;
    right: 90px;
}

#file_browser_bottom_nav .bottom_nav_holder .check_none_holder{
    position: absolute;
    top: 0;
    right: 5px;
}

#file_browser_bottom_nav .bottom_nav_holder .refresh_list_holder{
	position: absolute;
	top: 0;
	right: 5px;
}

	/* files - list */

#files { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 99%; 
}

#files li { 
	margin: 0 3px 3px 0px; 
	/*border: 1px solid #CCCCCC; */
	font-weight: bold;
    background-color: #EFFCFF;
}

.files_li {
    width: 358px;
}

/* Forms */
form.cmxform_admin {
    /*width: 100%;*/
    font-size: 12px;
    font-family: arial;
    padding-left: 5px;
}

form.cmxform_admin label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic;
    width: 100%;
    margin-left: 0;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
}

form.cmxform_admin input, select, textarea
{
    border: 1px solid #d2d2d2;
    color: #666666;
} 

/* layout */
.layout_settings_input input
{
	width: 30px;
}

/* dialog */
.dg_list_holder
{
	position: relative;
	height: 20px;
	border-bottom: 1px solid #D2D2D2;
}

.dg_list_name
{
	position: absolute;
	top: 3px;
	left: 0;
}

.dg_list_select
{
	position: absolute;
	top: 3px;
	right: 0;
}

#dialog_video_playlist ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#dialog_video_playlist ul li
{
	margin: 0;
	padding: 0;
}

#dialog_image_playlist ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#dialog_image_playlist ul li
{
    margin: 0;
    padding: 0;
}


#dialog_text_playlist ul, #dialog_text_scroll_playlist ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#dialog_text_playlist ul li
{
	margin: 0;
	padding: 0;
}

/* div error container */
div.error_container
{
	background-color: #eee;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
}
div.error_container ol li
{
	list-style-type: disc;
	margin-left: 20px;
}
div.error_container
{
	display: none
}

.error_container label.error
{
	display: inline;
}

/* text page */
#text_playlist_section{
	position: relative;
	width: 800px;
	height: 100%;
}

#text_playlist_section .top_nav .name{
	position: absolute;
	top: 8px;
	left: 10px;
	font-weight: bold;
}

#text_playlist_section .top_nav .add_item_holder{
	position: absolute;
	top: 5px;
	left: 5px;
}

#text_playlist_section .list{
	width: 800px;
}

#text_playlist_section .back_to_playlist_holder{
	position: absolute;
	top: 5px;
	right: 5px;
}

	/* playlist section - bottom_nav */

#text_playlist_section .bottom_nav{
	position: absolute;
	bottom: 0;
	height: 30px;
	background-color: #d1d3d4;
}

#text_playlist_section .bottom_nav .bottom_nav_holder .remove_item_holder{
	position: absolute;
	top: 0;
	left: 5px;
}

#text_playlist_section .bottom_nav .bottom_nav_holder .clear_playlist_holder{
	position: absolute;
	top: 0;
	left: 120px;
}

#text_playlist_section .bottom_nav .bottom_nav_holder .save_playlist_holder{
	position: absolute;
	top: 0;
	right: 5px;
}

.load_layout
{
    text-transform: uppercase;
    font-weight: bold;
}

.playlist_edit_holder
{
    margin-left: 60px;
}

/*NEW INPUT FIELDS UPDATE - 01/22/10*/
.input-playlist-name {
    height: 25px;
    font-size: 22px;
    width:80%;
}

.dialog-window {
    display: none;
}

/*Dialog Text Form*/
.text-input-size {
    width: 99%;
    height: 25px;
    border: 1px solid #d2d2d2;
    color: #666666;
}

.text-area-size {
    width: 99%;
    height: 200px;
    border: 1px solid #d2d2d2;
}

.top3px {
    top: 3px;
}

.no-border {
    border: none;
}

/*Table File List*/
table#file-list td{
    padding: 0;
    margin: 0;
    height: 10px;
}

.file-list {
    padding: 0;
    margin: 0;
    height: 100%;
}

.file-list li{
    list-style: none;
    padding: 5px;
    
}

.class_pl_item_name{ /*Text Crawl*/
    font-weight: bold;
}

.class_pl_item_text_img_align{
    width: 60px;
}

.jPickerPosition{
    position: absolute;
    right: 5px;
    bottom: -4px;
}

/* Layout Form */
table.layout-form{
    border-color: #E8E8E8;
}

table.layout-form th{
    text-align: center;
}

table.layout-form th.layout-name{
    width: 100px;
}

table.layout-form th.layout-position{
    width: 100px;
}

table.layout-form th.layout-font{
    width: 270px;
}

table.layout-form th.layout-font{
    width: 305px;
}

table.layout-form th.layout-size{
    width: 160px;
}

table.layout-form th.layout-bgcolor, th.layout-scroll, th.layout-reload, th.layout-delay{
    width: 120px;
}

table.layout-form th.layout-bgcolor{
    width: 120px;
}

/* Export */
.export {
    text-align: left;
    display: block;
    margin: 0 0 15px 5px;
    font-weight: bold;
    position: relative;
}

/*Template Creator*/
.component-form-holder {
    display: none;
}

.hide-element {
    display: none;
}

.font-style-b {
    vertical-align: middle; 
    margin-bottom: .25em; 
}
