*{
	padding: 0;
	margin: 0;
}

body{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

.window{
	position: relative;
}

#wrapper {
	position: relative;
	text-align: left;
	margin: 0 auto;
	width: 740px;
	height: 520px;
	border: 1px solid #000;
}

li{
	list-style-type: none;
}

#playlist{
	position: relative;
	float: left;
	width: 500px;
	border: 1px solid red;
}

#playlist .name{
	position: absolute;
	top: 0px;
	left: 0;
}

#playlist #back-to-display-holder{
	position: absolute;
	top: 0px;
	right: 0;
}

#playlist .list{
	margin: 50px 0 0 0;
}

/*Sortable Playlist*/
#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#sortable li { 
	margin: 0 3px 3px 0px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	/*font-size: 1.4em;*/ 
	height: 18px;
	border: 1px solid #CCCCCC; 
	font-weight: bold;
}

/*File Browser*/
#file-browser{
	position: relative;
	float: left;
	width: 230px;
	border: 1px solid blue;
}

#file-browser .name{
	position: absolute;
	top: 0px;
	left: 0;
}

#file-browser .list{
	margin: 50px 0 0 0;
}
 
